<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971899787278-q9lhk1n4cehhs0mn3s5kegqtj1ddkkou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971899787278-q9lhk1n4cehhs0mn3s5kegqtj1ddkkou</string>
	<key>API_KEY</key>
	<string>AIzaSyDlAkFpVICHOv0gI_JnqqvlG9lTLJoFU7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>971899787278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HaiyingWeng.Breeze</string>
	<key>PROJECT_ID</key>
	<string>breeze-543a1</string>
	<key>STORAGE_BUCKET</key>
	<string>breeze-543a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:971899787278:ios:dcf692f1cab0e5f9</string>
	<key>DATABASE_URL</key>
	<string>https://breeze-543a1.firebaseio.com</string>
</dict>
</plist>
